* {
    margin: 0;
    padding: 0;
}

/* Common Style */

.container {
    width: 82.5%;
    max-width: 1320px;
    margin: 120px auto 0;
    border-radius: 16px;
}

/* Header Section Style */

.banner {
    /* background-image: url('../images/Banner\ Image.png'); */
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    height: 600px;
    margin-top: 50px;
}

.banner-text {
    text-align: center;
    padding: 177px;
}

.banner .banner-text p {
    color: #FFF;
    /* text-align: center; */
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 16px;
}

.banner .banner-text h2 {
    color: #FFF;
    /* text-align: center; */
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    /* width: 48%;
    max-width: 632px; */
    margin: 0 auto;
}


/* Main Section Style */

/* Deals Section Style */


.deals .deals-text h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.deals .deals-text p {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 48px;
}

.deals .deals-text h3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 16px;
}

.deals-img {
    text-align: center;
}

.deals .deals-img img {
    padding-top: 48px;
    width: 61%;
    max-width: 803px;
    height: 500px;
}

/* Party Section Style */

.party {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    width: 1320px;
    height: 600px;

}

.party-content {
    display: flex;
}

.party .party-content .party-text h2 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 60%;
    max-width: 642px;
    margin: 126px 0 0 126px;

}

.party .party-content .party-text p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 70%;
    min-width: 697px;
    margin: 24px 0 0 126px;
}

/* h4 ar jaigai akta btn or primary btn add kore dekhte hobe */

.party .party-content .party-text h4 {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 48px 0 0 158px;
}

/* Party Address Section Style */

.party-address {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 482px;

}

.party-address .party-address-content p {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
}

.party-text-highlight {
    color: #F00;
}

.party-address-content {
    padding-top: 100px;
}

.party-address .party-address-content button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    border: none;
    margin: 48px 0 0 577px;
}

/* Comming Soon Section Style */


.comming-soon-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* First Div or Box */

.comming-soon .comming-soon-content .first-box h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.comming-soon .comming-soon-content .first-box h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    padding-top: 16px;
}

.comming-soon .comming-soon-content .first-box p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding-top: 22px;
    width: 393px;
}

/* Second Div or Box */

.comming-soon .comming-soon-content .circle img {
    width: 364.844px;
    height: 364.844px;
}

.comming-soon .comming-soon-content .circle {
    width: 463px;
    height: 463px;
    border-radius: 463px;
    border: 15px solid #F00;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Third Div or Box */

/* .comming-soon .comming-soon-content .third-box {
    padding-top: 140px;
} */
/* align ta thik thaktese top a padding na dile */

.comming-soon .comming-soon-content .third-box h2 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.comming-soon .comming-soon-content .third-box p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 276px;
    padding-top: 16px;
}

.comming-soon .comming-soon-content .third-box img {
    width: 140px;
    height: 140px;
    padding-top: 43px;
}

/* Sales Section Style */



.sales-text {
    text-align: center;
}

.sales .sales-text h4 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sales .sales-text h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 25px;
}

.sales-highlight {
    color: #F00;
}

.sales .sales-text p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    width: 65%;
    max-width: 1068px;
    margin: 28px auto 0;
}



/* Portfolio Section Style*/


.portfolio .portfolio-text h4 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.portfolio .portfolio-text h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 16px;
}

.portfolio .portfolio-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 22px;
    width: 68%;
}

.portfolio .portfolio-img {
    margin-top: 48px;
}

.portfolio .portfolio-img .top-line {
    display: flex;
    justify-content: space-between;
}

.portfolio .portfolio-img .bottom-line {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

/* Subscribe Section Style */

.subscribe {
    background-color: rgba(255, 0, 0, 0.05);
}

.subscribe-content {
    text-align: center;
}

.subscribe .subscribe-content .subscribe-text img {
    padding-top: 80px;
}

.subscribe .subscribe-content .subscribe-text h2 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-top: 40px;
}

.subscribe .subscribe-content .subscribe-text p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 70%;
    margin: 22px auto 0;
}

.subscribe .subscribe-content .subscribe-form {
    margin-left: 336px;
    margin-top: 48px;
    padding-bottom: 80px;
    display: flex;
    max-width: 800px;
}

.subscribe .subscribe-content .subscribe-form form input {
    /* width: 648px; */
    width: 450px;
    height: 72px;
    border-radius: 50px 0 0 50px;
    background: #FFF;
    border: 0;

    color: rgba(7, 2, 17, 0.30);
    padding-left: 30px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.subscribe .subscribe-content .subscribe-form button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: 0;
}