* {
    margin: 0;
    padding: 0;
}

/* Common Style */

.container {
    width: 82.5%;
    max-width: 1320px;
    margin: 0 auto;
}

/* Header Section Style */

.banner {
    /* background-image: url('../images/Banner\ Image.png'); */
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    height: 600px;
    margin-top: 50px;
}

.banner-text {
    text-align: center;
    padding: 177px;
}

.banner .banner-text p {
    color: #FFF;
    /* text-align: center; */
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 16px;
}

.banner .banner-text h2 {
    color: #FFF;
    /* text-align: center; */
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    /* width: 48%;
    max-width: 632px; */
    margin: 0 auto;
}


/* Main Section Style */

/* Deals Section Style */

.deals {
    margin-top: 120px;
}

.deals .deals-text h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.deals .deals-text p {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 48px;
}

.deals .deals-text h3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 16px;
}

.deals-img {
    text-align: center;
}

.deals .deals-img img {
    padding-top: 48px;
    width: 61%;
    max-width: 803px;
    height: 500px;
}

